{
  "openapi": "3.1.1",
  "info": {
    "title": "Scalar API",
    "description": "API for managing Scalar platform resources.\n\n## TypeScript SDK\n\nFor TypeScript, we provide a SDK that makes using our API even easier.\n\n### Install\n\n```bash\nnpm add @scalar/sdk\n```\n\n### Get a Scalar API key\n\nCreate an API key in your Scalar account:\n\n- Dashboard: https://dashboard.scalar.com/account\n- Store it in `.env`, for example:\n\n```bash\nSCALAR_API_KEY=your_personal_token\n```\n\n### Exchange your API key for an access token\n\nThe personal token is not an access token. Exchange it first with `postv1AuthExchange`.\n\nIf you use the personal token directly for authenticated API calls, the API returns `401 Invalid authentication token`.\n\n```ts\nimport { Scalar } from '@scalar/sdk'\n\nconst scalar = new Scalar()\n\nconst exchange = await scalar.auth.postv1AuthExchange({\n  personalToken: process.env.SCALAR_API_KEY!,\n})\n\nconst accessToken = exchange.accessToken\n```\n\n### Use the access token\n\nConstruct a second client with bearer auth. Use this authenticated client for API calls.\n\n```ts\nimport { Scalar } from '@scalar/sdk'\n\nconst scalar = new Scalar()\n\nconst exchange = await scalar.auth.postv1AuthExchange({\n  personalToken: process.env.SCALAR_API_KEY!,\n})\n\nconst authedScalar = new Scalar({\n  bearerAuth: exchange.accessToken,\n})\n```\n\n### Notes\n\n- The exchange request itself can be made from a client constructed with no arguments (`new Scalar()`).\n- The exchanged access token is valid for 12 hours.\n- Timestamps are Unix seconds.\n\n### Read more\n\n- [@scalar/sdk on npm](https://www.npmjs.com/package/@scalar/sdk)",
    "version": "0.2.3",
    "contact": {
      "name": "Marc from Scalar",
      "url": "https://scalar.com",
      "email": "support@scalar.com"
    },
    "x-scalar-sdk-installation": [
      {
        "lang": "TypeScript",
        "description": "```sh\nnpm install @scalar/sdk\n```"
      },
      {
        "lang": "Python",
        "description": "```sh\npip install scalar-sdk\n```"
      },
      {
        "lang": "Go",
        "description": "```sh\ngo get scalar-go\n```"
      },
      {
        "lang": "Rust",
        "description": "```sh\ncargo add scalar-rs\n```"
      }
    ]
  },
  "servers": [
    {
      "url": "https://access.scalar.com"
    }
  ],
  "tags": [
    {
      "name": "Registry",
      "description": "Registry"
    },
    {
      "name": "Schemas",
      "description": "Schemas"
    },
    {
      "name": "Login Portals",
      "description": "Login Portals"
    },
    {
      "name": "Rules",
      "description": "Rules"
    },
    {
      "name": "Themes",
      "description": "Themes"
    },
    {
      "name": "Teams",
      "description": "Teams"
    },
    {
      "name": "Scalar Docs",
      "description": "Scalar Docs"
    },
    {
      "name": "Namespaces",
      "description": "Namespaces"
    },
    {
      "name": "Authentication",
      "description": "Authentication"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "400": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "message",
          "code"
        ]
      },
      "401": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "message",
          "code"
        ]
      },
      "403": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "message",
          "code"
        ]
      },
      "404": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "message",
          "code"
        ]
      },
      "422": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "message",
          "code"
        ]
      },
      "500": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "message",
          "code"
        ]
      },
      "api-document": {
        "type": "object",
        "properties": {
          "uid": {
            "default": "nanoid()",
            "$ref": "#/components/schemas/nanoid"
          },
          "version": {
            "$ref": "#/components/schemas/version"
          },
          "title": {
            "default": "",
            "type": "string",
            "maxLength": 100
          },
          "slug": {
            "default": "randomManagedDocSlug()",
            "$ref": "#/components/schemas/slug"
          },
          "description": {
            "default": "",
            "type": "string"
          },
          "namespace": {
            "$ref": "#/components/schemas/namespace"
          },
          "isPrivate": {
            "default": false,
            "type": "boolean"
          },
          "tags": {
            "default": []
          },
          "versions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/managed-doc-version"
            }
          }
        },
        "required": [
          "uid",
          "version",
          "title",
          "slug",
          "description",
          "namespace",
          "isPrivate",
          "tags",
          "versions"
        ],
        "additionalProperties": false
      },
      "nanoid": {
        "type": "string",
        "minLength": 5
      },
      "version": {
        "type": "string",
        "minLength": 1
      },
      "slug": {
        "type": "string",
        "minLength": 3,
        "maxLength": 60,
        "pattern": "^[a-z](?:[a-z0-9-]*[a-z0-9])?$"
      },
      "namespace": {
        "type": "string",
        "minLength": 3,
        "maxLength": 50,
        "pattern": "^[a-zA-Z0-9-_]+$"
      },
      "managed-doc-version": {
        "type": "object",
        "properties": {
          "uid": {
            "$ref": "#/components/schemas/nanoid"
          },
          "createdAt": {
            "type": "number"
          },
          "version": {
            "$ref": "#/components/schemas/version"
          },
          "upgraded": {
            "default": false,
            "type": "boolean"
          },
          "embedStatus": {
            "default": null,
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "complete",
                  "failed"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "tags": {
            "default": [],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tools": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string"
                },
                "method": {
                  "$ref": "#/components/schemas/method"
                },
                "enabledTools": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "execute-request",
                      "get-mini-openapi-spec"
                    ]
                  }
                }
              },
              "required": [
                "path",
                "method",
                "enabledTools"
              ],
              "additionalProperties": false
            }
          },
          "yamlSha": {
            "type": "string"
          },
          "jsonSha": {
            "type": "string"
          },
          "versionSha": {
            "type": "string"
          }
        },
        "required": [
          "uid",
          "createdAt",
          "version",
          "upgraded",
          "embedStatus",
          "tags"
        ],
        "additionalProperties": false
      },
      "method": {
        "type": "string",
        "enum": [
          "delete",
          "get",
          "head",
          "options",
          "patch",
          "post",
          "put",
          "trace"
        ]
      },
      "access-group": {
        "type": "object",
        "properties": {
          "accessGroupSlug": {
            "$ref": "#/components/schemas/slug"
          }
        },
        "required": [
          "accessGroupSlug"
        ],
        "additionalProperties": false
      },
      "schema": {
        "type": "object",
        "properties": {
          "uid": {
            "default": "nanoid()",
            "$ref": "#/components/schemas/nanoid"
          },
          "title": {
            "default": "",
            "type": "string",
            "maxLength": 100
          },
          "description": {
            "default": "",
            "type": "string"
          },
          "slug": {
            "default": "randomManagedDocSlug()",
            "$ref": "#/components/schemas/slug"
          },
          "namespace": {
            "$ref": "#/components/schemas/namespace"
          },
          "isPrivate": {
            "default": false,
            "type": "boolean"
          },
          "versions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/managed-schema-version"
            }
          }
        },
        "required": [
          "uid",
          "title",
          "description",
          "slug",
          "namespace",
          "isPrivate",
          "versions"
        ],
        "additionalProperties": false
      },
      "managed-schema-version": {
        "type": "object",
        "properties": {
          "uid": {
            "default": "nanoid()",
            "$ref": "#/components/schemas/nanoid"
          },
          "createdAt": {
            "default": "unixTimestamp()",
            "$ref": "#/components/schemas/timestamp"
          },
          "updatedAt": {
            "default": "unixTimestamp()",
            "$ref": "#/components/schemas/timestamp"
          },
          "version": {
            "default": "0.0.1",
            "$ref": "#/components/schemas/version"
          }
        },
        "required": [
          "uid",
          "createdAt",
          "updatedAt",
          "version"
        ],
        "additionalProperties": false
      },
      "timestamp": {
        "type": "integer",
        "minimum": 0,
        "maximum": 9007199254740991
      },
      "uid": {
        "type": "object",
        "properties": {
          "uid": {
            "$ref": "#/components/schemas/nanoid"
          }
        },
        "required": [
          "uid"
        ],
        "additionalProperties": false
      },
      "login-portal-email": {
        "type": "object",
        "properties": {
          "logo": {
            "default": "",
            "type": "string"
          },
          "logoSize": {
            "default": "100",
            "type": "string"
          },
          "buttonText": {
            "default": "Login",
            "type": "string",
            "maxLength": 50
          },
          "message": {
            "default": "Click to access private documentation hosted by scalar.com",
            "type": "string",
            "maxLength": 1000
          },
          "title": {
            "default": "Private Docs",
            "type": "string",
            "maxLength": 100
          },
          "mainColor": {
            "default": "#2a2f45",
            "type": "string",
            "maxLength": 100
          },
          "mainBackground": {
            "default": "#f6f6f6",
            "type": "string",
            "maxLength": 100
          },
          "cardColor": {
            "default": "2a2f45",
            "type": "string",
            "maxLength": 100
          },
          "cardBackground": {
            "default": "#fff",
            "type": "string",
            "maxLength": 100
          },
          "buttonColor": {
            "default": "#fff",
            "type": "string",
            "maxLength": 100
          },
          "buttonBackground": {
            "default": "#0f0f0f",
            "type": "string",
            "maxLength": 100
          }
        },
        "required": [
          "logo",
          "logoSize",
          "buttonText",
          "message",
          "title",
          "mainColor",
          "mainBackground",
          "cardColor",
          "cardBackground",
          "buttonColor",
          "buttonBackground"
        ],
        "additionalProperties": false
      },
      "login-portal-page": {
        "type": "object",
        "properties": {
          "title": {
            "default": "Scalar Private Docs",
            "type": "string",
            "maxLength": 100
          },
          "description": {
            "default": "Login to access your documentation",
            "type": "string",
            "maxLength": 500
          },
          "head": {
            "default": "",
            "type": "string"
          },
          "script": {
            "default": "",
            "type": "string"
          },
          "theme": {
            "default": "",
            "type": "string"
          },
          "companyName": {
            "default": "",
            "type": "string",
            "maxLength": 100
          },
          "logo": {
            "default": "",
            "type": "string"
          },
          "logoURL": {
            "default": "",
            "type": "string"
          },
          "favicon": {
            "default": "",
            "type": "string"
          },
          "termsLink": {
            "default": "",
            "type": "string"
          },
          "privacyLink": {
            "default": "",
            "type": "string"
          },
          "formTitle": {
            "default": "Scalar Private Docs",
            "type": "string",
            "maxLength": 100
          },
          "formDescription": {
            "default": "Login to access your documentation",
            "type": "string",
            "maxLength": 500
          },
          "formImage": {
            "default": "",
            "type": "string"
          }
        },
        "required": [
          "title",
          "description",
          "head",
          "script",
          "theme",
          "companyName",
          "logo",
          "logoURL",
          "favicon",
          "termsLink",
          "privacyLink",
          "formTitle",
          "formDescription",
          "formImage"
        ],
        "additionalProperties": false
      },
      "login-portal": {
        "type": "object",
        "properties": {
          "uid": {
            "$ref": "#/components/schemas/nanoid"
          },
          "title": {
            "type": "string",
            "maxLength": 200
          },
          "slug": {
            "$ref": "#/components/schemas/slug"
          }
        },
        "required": [
          "uid",
          "title",
          "slug"
        ],
        "additionalProperties": false
      },
      "rule": {
        "type": "object",
        "properties": {
          "uid": {
            "default": "nanoid()",
            "$ref": "#/components/schemas/nanoid"
          },
          "title": {
            "default": "",
            "type": "string",
            "maxLength": 100
          },
          "description": {
            "default": "",
            "type": "string"
          },
          "slug": {
            "default": "randomManagedDocSlug()",
            "$ref": "#/components/schemas/slug"
          },
          "namespace": {
            "$ref": "#/components/schemas/namespace"
          },
          "isPrivate": {
            "default": false,
            "type": "boolean"
          }
        },
        "required": [
          "uid",
          "title",
          "description",
          "slug",
          "namespace",
          "isPrivate"
        ],
        "additionalProperties": false
      },
      "theme": {
        "type": "object",
        "properties": {
          "uid": {
            "$ref": "#/components/schemas/nanoid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "slug": {
            "$ref": "#/components/schemas/slug"
          }
        },
        "required": [
          "uid",
          "name",
          "description",
          "slug"
        ],
        "additionalProperties": false
      },
      "team": {
        "type": "object",
        "properties": {
          "uid": {
            "$ref": "#/components/schemas/nanoid"
          },
          "name": {
            "$ref": "#/components/schemas/team-name"
          },
          "imageUri": {
            "$ref": "#/components/schemas/team-image"
          },
          "slug": {
            "$ref": "#/components/schemas/slug"
          },
          "theme": {
            "type": "string"
          }
        },
        "required": [
          "uid",
          "name",
          "slug",
          "theme"
        ],
        "additionalProperties": false
      },
      "team-name": {
        "type": "string"
      },
      "team-image": {
        "type": "string"
      },
      "github-project": {
        "type": "object",
        "properties": {
          "uid": {
            "default": "nanoid()",
            "$ref": "#/components/schemas/nanoid"
          },
          "createdAt": {
            "default": "unixTimestamp()",
            "$ref": "#/components/schemas/timestamp"
          },
          "updatedAt": {
            "default": "unixTimestamp()",
            "$ref": "#/components/schemas/timestamp"
          },
          "name": {
            "type": "string"
          },
          "activeDeployment": {
            "default": null,
            "anyOf": [
              {
                "$ref": "#/components/schemas/active-deployment"
              },
              {
                "type": "null"
              }
            ]
          },
          "lastPublished": {
            "default": null,
            "anyOf": [
              {
                "$ref": "#/components/schemas/timestamp"
              },
              {
                "type": "null"
              }
            ]
          },
          "lastPublishedUid": {
            "default": null,
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "loginPortalUid": {
            "default": "",
            "type": "string"
          },
          "activeThemeId": {
            "default": "",
            "type": "string"
          },
          "typesenseId": {
            "type": "number"
          },
          "isPrivate": {
            "default": false,
            "type": "boolean"
          },
          "agentEnabled": {
            "default": false,
            "type": "boolean"
          },
          "accessGroups": {
            "default": []
          },
          "slug": {
            "$ref": "#/components/schemas/slug"
          },
          "publishStatus": {
            "default": "",
            "type": "string"
          },
          "publishMessage": {
            "default": "",
            "type": "string"
          },
          "repository": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/github-project-repository"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "uid",
          "createdAt",
          "updatedAt",
          "name",
          "activeDeployment",
          "lastPublished",
          "lastPublishedUid",
          "loginPortalUid",
          "activeThemeId",
          "isPrivate",
          "agentEnabled",
          "accessGroups",
          "slug",
          "publishStatus",
          "publishMessage"
        ],
        "additionalProperties": false
      },
      "active-deployment": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "publishedAt": {
            "$ref": "#/components/schemas/timestamp"
          }
        },
        "required": [
          "uid",
          "domain",
          "publishedAt"
        ],
        "additionalProperties": false
      },
      "github-project-repository": {
        "type": "object",
        "properties": {
          "linkedBy": {
            "type": "string"
          },
          "id": {
            "type": "number"
          },
          "name": {
            "type": "string",
            "minLength": 2
          },
          "configPath": {
            "default": "",
            "type": "string"
          },
          "branch": {
            "default": "",
            "type": "string"
          },
          "publishOnMerge": {
            "default": false,
            "type": "boolean"
          },
          "publishPreviews": {
            "default": false,
            "type": "boolean"
          },
          "prComments": {
            "default": false,
            "type": "boolean"
          },
          "expired": {
            "default": false,
            "type": "boolean"
          }
        },
        "required": [
          "linkedBy",
          "id",
          "name",
          "configPath",
          "branch",
          "publishOnMerge",
          "publishPreviews",
          "prComments",
          "expired"
        ],
        "additionalProperties": false
      },
      "email": {
        "type": "string",
        "format": "email",
        "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
      },
      "team-summary": {
        "type": "object",
        "properties": {
          "uid": {
            "$ref": "#/components/schemas/nanoid"
          },
          "name": {
            "$ref": "#/components/schemas/team-name"
          },
          "imageUri": {
            "$ref": "#/components/schemas/team-image"
          }
        },
        "required": [
          "uid",
          "name"
        ],
        "additionalProperties": false
      },
      "user": {
        "type": "object",
        "properties": {
          "uid": {
            "default": "nanoid()",
            "$ref": "#/components/schemas/nanoid"
          },
          "createdAt": {
            "default": "unixTimestamp()",
            "$ref": "#/components/schemas/timestamp"
          },
          "updatedAt": {
            "default": "unixTimestamp()",
            "$ref": "#/components/schemas/timestamp"
          },
          "email": {
            "$ref": "#/components/schemas/email"
          },
          "theme": {
            "type": "string"
          },
          "activeTeamId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "hasGithub": {
            "default": false,
            "type": "boolean"
          },
          "teams": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/team-summary"
            }
          }
        },
        "required": [
          "uid",
          "createdAt",
          "updatedAt",
          "email",
          "activeTeamId",
          "hasGithub",
          "teams"
        ],
        "additionalProperties": false
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/v1/apis": {
      "get": {
        "tags": [
          "Registry"
        ],
        "description": "List all API documents across every namespace the caller can access.",
        "summary": "List all API Documents",
        "operationId": "listAllApiDocuments",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/api-document"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Scalar from '@scalar/sdk';\n\nconst client = new Scalar({\n  bearerAuth: process.env['BEARER_AUTH'], // defaults to the BEARER_AUTH env var\n});\n\nconst listAllAPIDocuments = await client.registry.listAllAPIDocuments();\n\nconsole.log(listAllAPIDocuments);"
          },
          {
            "lang": "Shell",
            "label": "CLI",
            "source": "scalarapi registry list-all-api-documents --bearer-auth \"$BEARER_AUTH\""
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom scalar_sdk import Scalar\n\nclient = Scalar(\n    bearer_auth=os.environ.get(\"BEARER_AUTH\"),\n)\n\nregistry = client.registry.list_all_api_documents()\n\nprint(registry)"
          },
          {
            "lang": "Go",
            "label": "Go",
            "source": "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\t\"os\"\n\n\tsdk \"scalar-go\"\n\t\"scalar-go/option\"\n)\n\nfunc main() {\n\tclient := sdk.NewClient(\n\t\toption.WithBearerAuth(os.Getenv(\"BEARER_AUTH\")),\n\t)\n\n\tregistry, err := client.Registry.ListAllAPIDocuments(context.Background())\n\tif err != nil {\n\t\tpanic(err)\n\t}\n\n\tfmt.Println(registry)\n}"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "import com.scalar.api.client.ScalarClient;\nimport com.scalar.api.client.okhttp.ScalarOkHttpClient;\nimport com.scalar.api.models.registry.RegistryListAllApiDocumentsParams;\n\nScalarClient client = ScalarOkHttpClient.builder()\n    .bearerAuth(System.getenv(\"BEARER_AUTH\"))\n    .build();\n\nvar registry = client.registry().listAllApiDocuments();\n\nSystem.out.println(registry);"
          },
          {
            "lang": "Kotlin",
            "label": "Kotlin",
            "source": "import com.scalar.api.client.ScalarClient\nimport com.scalar.api.client.okhttp.ScalarOkHttpClient\nimport com.scalar.api.models.registry.RegistryListAllApiDocumentsParams\n\nval client: ScalarClient = ScalarOkHttpClient.builder()\n    .bearerAuth(System.getenv(\"BEARER_AUTH\"))\n    .build()\n\nval registry = client.registry().listAllApiDocuments(RegistryListAllApiDocumentsParams.none())\n\nprintln(registry)"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "require \"json\"\nrequire \"scalar-sdk\"\n\nclient = ScalarApi::Client.new(\n  bearer_auth: ENV[\"BEARER_AUTH\"],\n)\n\nresponse = client.registry.list_all_api_documents\n\nputs response.inspect"
          },
          {
            "lang": "rust",
            "label": "Rust",
            "source": "use scalar_rs::*;\n\n#[tokio::main]\nasync fn main() -> Result<(), Box<dyn std::error::Error>> {\n    let client = Scalar::builder()\n        .bearer_token(std::env::var(\"SCALAR_BEARER_TOKEN\")?)\n        .build()?;\n\n    let response = client.registry().list_all_api_documents().send().await?;\n\n    println!(\"{:?}\", response);\n\n    Ok(())\n}"
          }
        ]
      }
    },
    "/v1/apis/{namespace}": {
      "get": {
        "tags": [
          "Registry"
        ],
        "description": "List API documents in a namespace.",
        "summary": "List API Documents in a namespace",
        "operationId": "listApiDocuments",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/api-document"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "namespace",
            "required": true
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Scalar from '@scalar/sdk';\n\nconst client = new Scalar({\n  bearerAuth: process.env['BEARER_AUTH'], // defaults to the BEARER_AUTH env var\n});\n\nconst listAPIDocuments = await client.registry.listAPIDocuments('namespace');\n\nconsole.log(listAPIDocuments);"
          },
          {
            "lang": "Shell",
            "label": "CLI",
            "source": "scalarapi registry list-api-documents 'namespace_' --bearer-auth \"$BEARER_AUTH\""
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom scalar_sdk import Scalar\n\nclient = Scalar(\n    bearer_auth=os.environ.get(\"BEARER_AUTH\"),\n)\n\nregistry = client.registry.list_api_documents(\n    namespace=\"namespace\",\n)\n\nprint(registry)"
          },
          {
            "lang": "Go",
            "label": "Go",
            "source": "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\t\"os\"\n\n\tsdk \"scalar-go\"\n\t\"scalar-go/option\"\n)\n\nfunc main() {\n\tclient := sdk.NewClient(\n\t\toption.WithBearerAuth(os.Getenv(\"BEARER_AUTH\")),\n\t)\n\n\tregistry, err := client.Registry.ListAPIDocuments(context.Background(), \"namespace\")\n\tif err != nil {\n\t\tpanic(err)\n\t}\n\n\tfmt.Println(registry)\n}"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "import com.scalar.api.client.ScalarClient;\nimport com.scalar.api.client.okhttp.ScalarOkHttpClient;\nimport com.scalar.api.models.registry.RegistryListApiDocumentsParams;\n\nScalarClient client = ScalarOkHttpClient.builder()\n    .bearerAuth(System.getenv(\"BEARER_AUTH\"))\n    .build();\n\nRegistryListApiDocumentsParams params = RegistryListApiDocumentsParams.builder()\n    .namespace(\"namespace\")\n    .build();\nvar registry = client.registry().listApiDocuments(params);\n\nSystem.out.println(registry);"
          },
          {
            "lang": "Kotlin",
            "label": "Kotlin",
            "source": "import com.scalar.api.client.ScalarClient\nimport com.scalar.api.client.okhttp.ScalarOkHttpClient\nimport com.scalar.api.models.registry.RegistryListApiDocumentsParams\n\nval client: ScalarClient = ScalarOkHttpClient.builder()\n    .bearerAuth(System.getenv(\"BEARER_AUTH\"))\n    .build()\n\nval params = RegistryListApiDocumentsParams.builder()\n    .namespace(\"namespace\")\n    .build()\nval registry = client.registry().listApiDocuments(params)\n\nprintln(registry)"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "require \"json\"\nrequire \"scalar-sdk\"\n\nclient = ScalarApi::Client.new(\n  bearer_auth: ENV[\"BEARER_AUTH\"],\n)\n\nresponse = client.registry.list_api_documents(\"smoke-test\")\n\nputs response.inspect"
          },
          {
            "lang": "rust",
            "label": "Rust",
            "source": "use scalar_rs::*;\n\n#[tokio::main]\nasync fn main() -> Result<(), Box<dyn std::error::Error>> {\n    let client = Scalar::builder()\n        .bearer_token(std::env::var(\"SCALAR_BEARER_TOKEN\")?)\n        .build()?;\n\n    let response = client.registry().list_api_documents(\"example\").send().await?;\n\n    println!(\"{:?}\", response);\n\n    Ok(())\n}"
          }
        ]
      },
      "post": {
        "tags": [
          "Registry"
        ],
        "description": "Create an API document.",
        "summary": "Create API Document",
        "operationId": "createApiDocument",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uid": {
                      "type": "string"
                    },
                    "versionUid": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "jsonSha": {
                      "type": "string"
                    },
                    "yamlSha": {
                      "type": "string"
                    },
                    "versionSha": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "uid",
                    "versionUid",
                    "title",
                    "jsonSha",
                    "yamlSha",
                    "versionSha"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "version": {
                    "$ref": "#/components/schemas/version"
                  },
                  "slug": {
                    "type": "string"
                  },
                  "ruleset": {
                    "type": "string"
                  },
                  "isPrivate": {
                    "type": "boolean"
                  },
                  "document": {
                    "type": "string"
                  }
                },
                "required": [
                  "title",
                  "version",
                  "slug",
                  "document"
                ],
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "namespace",
            "required": true
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Scalar from '@scalar/sdk';\n\nconst client = new Scalar({\n  bearerAuth: process.env['BEARER_AUTH'], // defaults to the BEARER_AUTH env var\n});\n\nconst createAPIDocument = await client.registry.createAPIDocument('namespace', {\n  title: '',\n  version: 'x',\n  slug: '',\n  document: '',\n});\n\nconsole.log(createAPIDocument);"
          },
          {
            "lang": "Shell",
            "label": "CLI",
            "source": "scalarapi registry create-api-document 'namespace_' --bearer-auth \"$BEARER_AUTH\" --title 'title' --version-command 'version' --slug 'slug' --document 'document'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom scalar_sdk import Scalar\n\nclient = Scalar(\n    bearer_auth=os.environ.get(\"BEARER_AUTH\"),\n)\n\nregistry = client.registry.create_api_document(\n    namespace=\"namespace\",\n    title=\"\",\n    version=\"x\",\n    slug=\"\",\n    document=\"\",\n)\n\nprint(registry)"
          },
          {
            "lang": "Go",
            "label": "Go",
            "source": "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\t\"os\"\n\n\tsdk \"scalar-go\"\n\t\"scalar-go/option\"\n)\n\nfunc main() {\n\tclient := sdk.NewClient(\n\t\toption.WithBearerAuth(os.Getenv(\"BEARER_AUTH\")),\n\t)\n\n\tregistry, err := client.Registry.NewAPIDocument(context.Background(), \"namespace\", sdk.RegistryNewAPIDocumentParams{\n\t\tDocument: sdk.F[string](\"\"),\n\t\tSlug:     sdk.F[string](\"\"),\n\t\tTitle:    sdk.F[string](\"\"),\n\t\tVersion:  sdk.F[string](\"x\"),\n\t})\n\tif err != nil {\n\t\tpanic(err)\n\t}\n\n\tfmt.Println(registry)\n}"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "import com.scalar.api.client.ScalarClient;\nimport com.scalar.api.client.okhttp.ScalarOkHttpClient;\nimport com.scalar.api.models.registry.RegistryCreateApiDocumentParams;\n\nScalarClient client = ScalarOkHttpClient.builder()\n    .bearerAuth(System.getenv(\"BEARER_AUTH\"))\n    .build();\n\nRegistryCreateApiDocumentParams params = RegistryCreateApiDocumentParams.builder()\n    .namespace(\"namespace\")\n    .title(\"title\")\n    .version(\"version\")\n    .slug(\"slug\")\n    .document(\"document\")\n    .build();\nvar registry = client.registry().createApiDocument(params);\n\nSystem.out.println(registry);"
          },
          {
            "lang": "Kotlin",
            "label": "Kotlin",
            "source": "import com.scalar.api.client.ScalarClient\nimport com.scalar.api.client.okhttp.ScalarOkHttpClient\nimport com.scalar.api.models.registry.RegistryCreateApiDocumentParams\n\nval client: ScalarClient = ScalarOkHttpClient.builder()\n    .bearerAuth(System.getenv(\"BEARER_AUTH\"))\n    .build()\n\nval params = RegistryCreateApiDocumentParams.builder()\n    .namespace(\"namespace\")\n    .title(\"title\")\n    .version(\"version\")\n    .slug(\"slug\")\n    .document(\"document\")\n    .build()\nval registry = client.registry().createApiDocument(params)\n\nprintln(registry)"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "require \"json\"\nrequire \"scalar-sdk\"\n\nclient = ScalarApi::Client.new(\n  bearer_auth: ENV[\"BEARER_AUTH\"],\n)\n\nresponse = client.registry.create_api_document(\"smoke-test\", { document: \"\", slug: \"\", title: \"\", version: \"x\", description: \"\", is_private: false, ruleset: \"\" })\n\nputs response.inspect"
          },
          {
            "lang": "rust",
            "label": "Rust",
            "source": "use scalar_rs::*;\n\n#[tokio::main]\nasync fn main() -> Result<(), Box<dyn std::error::Error>> {\n    let client = Scalar::builder()\n        .bearer_token(std::env::var(\"SCALAR_BEARER_TOKEN\")?)\n        .build()?;\n\n    let response = client\n        .registry()\n        .create_api_document(\n            \"example\",\n            RegistryCreateApiDocumentBody {\n                title: \"\".to_string(),\n                description: None,\n                version: \"x\".to_string(),\n                slug: \"\".to_string(),\n                ruleset: None,\n                is_private: None,\n                document: \"\".to_string(),\n            },\n        )\n        .send()\n        .await?;\n\n    println!(\"{:?}\", response);\n\n    Ok(())\n}"
          }
        ]
      }
    },
    "/v1/apis/{namespace}/{slug}": {
      "patch": {
        "tags": [
          "Registry"
        ],
        "description": "Update metadata for an API document.",
        "summary": "Update API Document metadata",
        "operationId": "updateApiDocument",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "isPrivate": {
                    "type": "boolean"
                  },
                  "ruleset": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "namespace",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "slug",
            "required": true
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Scalar from '@scalar/sdk';\n\nconst client = new Scalar({\n  bearerAuth: process.env['BEARER_AUTH'], // defaults to the BEARER_AUTH env var\n});\n\nawait client.registry.updateAPIDocument('slug', {\n  namespace: 'namespace',\n});"
          },
          {
            "lang": "Shell",
            "label": "CLI",
            "source": "scalarapi registry update-api-document 'slug' --bearer-auth \"$BEARER_AUTH\" --namespace 'namespace'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom scalar_sdk import Scalar\n\nclient = Scalar(\n    bearer_auth=os.environ.get(\"BEARER_AUTH\"),\n)\n\nregistry = client.registry.update_api_document(\n    namespace=\"namespace\",\n    slug=\"slug\",\n)\n\nprint(registry)"
          },
          {
            "lang": "Go",
            "label": "Go",
            "source": "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\t\"os\"\n\n\tsdk \"scalar-go\"\n\t\"scalar-go/option\"\n)\n\nfunc main() {\n\tclient := sdk.NewClient(\n\t\toption.WithBearerAuth(os.Getenv(\"BEARER_AUTH\")),\n\t)\n\n\tregistry, err := client.Registry.UpdateAPIDocument(context.Background(), \"namespace\", \"slug\", sdk.RegistryUpdateAPIDocumentParams{})\n\tif err != nil {\n\t\tpanic(err)\n\t}\n\n\tfmt.Println(registry)\n}"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "import com.scalar.api.client.ScalarClient;\nimport com.scalar.api.client.okhttp.ScalarOkHttpClient;\nimport com.scalar.api.models.registry.RegistryUpdateApiDocumentParams;\n\nScalarClient client = ScalarOkHttpClient.builder()\n    .bearerAuth(System.getenv(\"BEARER_AUTH\"))\n    .build();\n\nRegistryUpdateApiDocumentParams params = RegistryUpdateApiDocumentParams.builder()\n    .namespace(\"namespace\")\n    .slug(\"slug\")\n    .build();\nvar registry = client.registry().updateApiDocument(params);\n\nSystem.out.println(registry);"
          },
          {
            "lang": "Kotlin",
            "label": "Kotlin",
            "source": "import com.scalar.api.client.ScalarClient\nimport com.scalar.api.client.okhttp.ScalarOkHttpClient\nimport com.scalar.api.models.registry.RegistryUpdateApiDocumentParams\n\nval client: ScalarClient = ScalarOkHttpClient.builder()\n    .bearerAuth(System.getenv(\"BEARER_AUTH\"))\n    .build()\n\nval params = RegistryUpdateApiDocumentParams.builder()\n    .namespace(\"namespace\")\n    .slug(\"slug\")\n    .build()\nval registry = client.registry().updateApiDocument(params)\n\nprintln(registry)"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "require \"json\"\nrequire \"scalar-sdk\"\n\nclient = ScalarApi::Client.new(\n  bearer_auth: ENV[\"BEARER_AUTH\"],\n)\n\nresponse = client.registry.update_api_document(\"smoke-test\", { namespace: \"namespace\", description: \"\", is_private: false, ruleset: \"\", title: \"\" })\n\nputs response.inspect"
          },
          {
            "lang": "rust",
            "label": "Rust",
            "source": "use scalar_rs::*;\n\n#[tokio::main]\nasync fn main() -> Result<(), Box<dyn std::error::Error>> {\n    let client = Scalar::builder()\n        .bearer_token(std::env::var(\"SCALAR_BEARER_TOKEN\")?)\n        .build()?;\n\n    let response = client\n        .registry()\n        .update_api_document(\n            \"example\",\n            \"example\",\n            RegistryUpdateApiDocumentBody {\n                title: None,\n                description: None,\n                is_private: None,\n                ruleset: None,\n            },\n        )\n        .send()\n        .await?;\n\n    println!(\"{:?}\", response);\n\n    Ok(())\n}"
          }
        ]
      },
      "delete": {
        "tags": [
          "Registry"
        ],
        "description": "Delete an API document and all versions.",
        "summary": "Delete API Document",
        "operationId": "deleteApiDocument",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "namespace",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "slug",
            "required": true
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Scalar from '@scalar/sdk';\n\nconst client = new Scalar({\n  bearerAuth: process.env['BEARER_AUTH'], // defaults to the BEARER_AUTH env var\n});\n\nawait client.registry.deleteAPIDocument('slug', {\n  namespace: 'namespace',\n});"
          },
          {
            "lang": "Shell",
            "label": "CLI",
            "source": "scalarapi registry delete-api-document 'slug' --bearer-auth \"$BEARER_AUTH\" --namespace 'namespace'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom scalar_sdk import Scalar\n\nclient = Scalar(\n    bearer_auth=os.environ.get(\"BEARER_AUTH\"),\n)\n\nregistry = client.registry.delete_api_document(\n    namespace=\"namespace\",\n    slug=\"slug\",\n)\n\nprint(registry)"
          },
          {
            "lang": "Go",
            "label": "Go",
            "source": "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\t\"os\"\n\n\tsdk \"scalar-go\"\n\t\"scalar-go/option\"\n)\n\nfunc main() {\n\tclient := sdk.NewClient(\n\t\toption.WithBearerAuth(os.Getenv(\"BEARER_AUTH\")),\n\t)\n\n\tregistry, err := client.Registry.DeleteAPIDocument(context.Background(), \"namespace\", \"slug\")\n\tif err != nil {\n\t\tpanic(err)\n\t}\n\n\tfmt.Println(registry)\n}"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "import com.scalar.api.client.ScalarClient;\nimport com.scalar.api.client.okhttp.ScalarOkHttpClient;\nimport com.scalar.api.models.registry.RegistryDeleteApiDocumentParams;\n\nScalarClient client = ScalarOkHttpClient.builder()\n    .bearerAuth(System.getenv(\"BEARER_AUTH\"))\n    .build();\n\nRegistryDeleteApiDocumentParams params = RegistryDeleteApiDocumentParams.builder()\n    .namespace(\"namespace\")\n    .slug(\"slug\")\n    .build();\nvar registry = client.registry().deleteApiDocument(params);\n\nSystem.out.println(registry);"
          },
          {
            "lang": "Kotlin",
            "label": "Kotlin",
            "source": "import com.scalar.api.client.ScalarClient\nimport com.scalar.api.client.okhttp.ScalarOkHttpClient\nimport com.scalar.api.models.registry.RegistryDeleteApiDocumentParams\n\nval client: ScalarClient = ScalarOkHttpClient.builder()\n    .bearerAuth(System.getenv(\"BEARER_AUTH\"))\n    .build()\n\nval params = RegistryDeleteApiDocumentParams.builder()\n    .namespace(\"namespace\")\n    .slug(\"slug\")\n    .build()\nval registry = client.registry().deleteApiDocument(params)\n\nprintln(registry)"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "require \"json\"\nrequire \"scalar-sdk\"\n\nclient = ScalarApi::Client.new(\n  bearer_auth: ENV[\"BEARER_AUTH\"],\n)\n\nresponse = client.registry.delete_api_document(\"smoke-test\", { namespace: \"namespace\" })\n\nputs response.inspect"
          },
          {
            "lang": "rust",
            "label": "Rust",
            "source": "use scalar_rs::*;\n\n#[tokio::main]\nasync fn main() -> Result<(), Box<dyn std::error::Error>> {\n    let client = Scalar::builder()\n        .bearer_token(std::env::var(\"SCALAR_BEARER_TOKEN\")?)\n        .build()?;\n\n    let response = client\n        .registry()\n        .delete_api_document(\"example\", \"example\")\n        .send()\n        .await?;\n\n    println!(\"{:?}\", response);\n\n    Ok(())\n}"
          }
        ]
      }
    },
    "/v1/apis/{namespace}/{slug}/version/{semver}": {
      "get": {
        "tags": [
          "Registry"
        ],
        "description": "Get a specific API document version.",
        "summary": "Get API Document",
        "operationId": "getApiDocumentVersion",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "namespace",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "slug",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "semver",
            "required": true
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Scalar from '@scalar/sdk';\n\nconst client = new Scalar({\n  bearerAuth: process.env['BEARER_AUTH'], // defaults to the BEARER_AUTH env var\n});\n\nconst string_ = await client.registry.retrieveAPIDocumentVersion('semver', {\n  namespace: 'namespace',\n  slug: 'slug',\n});\n\nconsole.log(string_);"
          },
          {
            "lang": "Shell",
            "label": "CLI",
            "source": "scalarapi registry retrieve-api-document-version 'semver' --bearer-auth \"$BEARER_AUTH\" --namespace 'namespace' --slug 'slug'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom scalar_sdk import Scalar\n\nclient = Scalar(\n    bearer_auth=os.environ.get(\"BEARER_AUTH\"),\n)\n\nregistry = client.registry.retrieve_api_document_version(\n    namespace=\"namespace\",\n    slug=\"slug\",\n    semver=\"semver\",\n)\n\nprint(registry)"
          },
          {
            "lang": "Go",
            "label": "Go",
            "source": "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\t\"os\"\n\n\tsdk \"scalar-go\"\n\t\"scalar-go/option\"\n)\n\nfunc main() {\n\tclient := sdk.NewClient(\n\t\toption.WithBearerAuth(os.Getenv(\"BEARER_AUTH\")),\n\t)\n\n\tregistry, err := client.Registry.GetAPIDocumentVersion(context.Background(), \"namespace\", \"slug\", \"semver\")\n\tif err != nil {\n\t\tpanic(err)\n\t}\n\n\tfmt.Println(registry)\n}"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "import com.scalar.api.client.ScalarClient;\nimport com.scalar.api.client.okhttp.ScalarOkHttpClient;\nimport com.scalar.api.models.registry.RegistryRetrieveApiDocumentVersionParams;\n\nScalarClient client = ScalarOkHttpClient.builder()\n    .bearerAuth(System.getenv(\"BEARER_AUTH\"))\n    .build();\n\nRegistryRetrieveApiDocumentVersionParams params = RegistryRetrieveApiDocumentVersionParams.builder()\n    .namespace(\"namespace\")\n    .slug(\"slug\")\n    .semver(\"semver\")\n    .build();\nvar registry = client.registry().retrieveApiDocumentVersion(params);\n\nSystem.out.println(registry);"
          },
          {
            "lang": "Kotlin",
            "label": "Kotlin",
            "source": "import com.scalar.api.client.ScalarClient\nimport com.scalar.api.client.okhttp.ScalarOkHttpClient\nimport com.scalar.api.models.registry.RegistryRetrieveApiDocumentVersionParams\n\nval client: ScalarClient = ScalarOkHttpClient.builder()\n    .bearerAuth(System.getenv(\"BEARER_AUTH\"))\n    .build()\n\nval params = RegistryRetrieveApiDocumentVersionParams.builder()\n    .namespace(\"namespace\")\n    .slug(\"slug\")\n    .semver(\"semver\")\n    .build()\nval registry = client.registry().retrieveApiDocumentVersion(params)\n\nprintln(registry)"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "require \"json\"\nrequire \"scalar-sdk\"\n\nclient = ScalarApi::Client.new(\n  bearer_auth: ENV[\"BEARER_AUTH\"],\n)\n\nresponse = client.registry.retrieve_api_document_version(\"smoke-test\", { namespace: \"namespace\", slug: \"slug\" })\n\nputs response.inspect"
          },
          {
            "lang": "rust",
            "label": "Rust",
            "source": "use scalar_rs::*;\n\n#[tokio::main]\nasync fn main() -> Result<(), Box<dyn std::error::Error>> {\n    let client = Scalar::builder()\n        .bearer_token(std::env::var(\"SCALAR_BEARER_TOKEN\")?)\n        .build()?;\n\n    let response = client\n        .registry()\n        .retrieve_api_document_version(\"example\", \"example\", \"example\")\n        .send()\n        .await?;\n\n    println!(\"{:?}\", response);\n\n    Ok(())\n}"
          }
        ]
      },
      "patch": {
        "tags": [
          "Registry"
        ],
        "description": "Update the registry file content for an API document version.",
        "summary": "Update API Document version",
        "operationId": "updateApiDocumentVersion",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonSha": {
                      "type": "string"
                    },
                    "yamlSha": {
                      "type": "string"
                    },
                    "versionSha": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "jsonSha",
                    "yamlSha",
                    "versionSha"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "document": {
                    "type": "string"
                  },
                  "lastKnownVersionSha": {
                    "type": "string"
                  }
                },
                "required": [
                  "document"
                ],
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "namespace",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "slug",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "semver",
            "required": true
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Scalar from '@scalar/sdk';\n\nconst client = new Scalar({\n  bearerAuth: process.env['BEARER_AUTH'], // defaults to the BEARER_AUTH env var\n});\n\nconst updateAPIDocumentVersion = await client.registry.updateAPIDocumentVersion('semver', {\n  namespace: 'namespace',\n  slug: 'slug',\n  document: '',\n});\n\nconsole.log(updateAPIDocumentVersion);"
          },
          {
            "lang": "Shell",
            "label": "CLI",
            "source": "scalarapi registry update-api-document-version 'semver' --bearer-auth \"$BEARER_AUTH\" --namespace 'namespace' --slug 'slug' --document 'document'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom scalar_sdk import Scalar\n\nclient = Scalar(\n    bearer_auth=os.environ.get(\"BEARER_AUTH\"),\n)\n\nregistry = client.registry.update_api_document_version(\n    namespace=\"namespace\",\n    slug=\"slug\",\n    semver=\"semver\",\n    document=\"\",\n)\n\nprint(registry)"
          },
          {
            "lang": "Go",
            "label": "Go",
            "source": "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\t\"os\"\n\n\tsdk \"scalar-go\"\n\t\"scalar-go/option\"\n)\n\nfunc main() {\n\tclient := sdk.NewClient(\n\t\toption.WithBearerAuth(os.Getenv(\"BEARER_AUTH\")),\n\t)\n\n\tregistry, err := client.Registry.UpdateAPIDocumentVersion(context.Background(), \"namespace\", \"slug\", \"semver\", sdk.RegistryUpdateAPIDocumentVersionParams{\n\t\tDocument: sdk.F[string](\"\"),\n\t})\n\tif err != nil {\n\t\tpanic(err)\n\t}\n\n\tfmt.Println(registry)\n}"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "import com.scalar.api.client.ScalarClient;\nimport com.scalar.api.client.okhttp.ScalarOkHttpClient;\nimport com.scalar.api.models.registry.RegistryUpdateApiDocumentVersionParams;\n\nScalarClient client = ScalarOkHttpClient.builder()\n    .bearerAuth(System.getenv(\"BEARER_AUTH\"))\n    .build();\n\nRegistryUpdateApiDocumentVersionParams params = RegistryUpdateApiDocumentVersionParams.builder()\n    .namespace(\"namespace\")\n    .slug(\"slug\")\n    .semver(\"semver\")\n    .document(\"document\")\n    .build();\nvar registry = client.registry().updateApiDocumentVersion(params);\n\nSystem.out.println(registry);"
          },
          {
            "lang": "Kotlin",
            "label": "Kotlin",
            "source": "import com.scalar.api.client.ScalarClient\nimport com.scalar.api.client.okhttp.ScalarOkHttpClient\nimport com.scalar.api.models.registry.RegistryUpdateApiDocumentVersionParams\n\nval client: ScalarClient = ScalarOkHttpClient.builder()\n    .bearerAuth(System.getenv(\"BEARER_AUTH\"))\n    .build()\n\nval params = RegistryUpdateApiDocumentVersionParams.builder()\n    .namespace(\"namespace\")\n    .slug(\"slug\")\n    .semver(\"semver\")\n    .document(\"document\")\n    .build()\nval registry = client.registry().updateApiDocumentVersion(params)\n\nprintln(registry)"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "require \"json\"\nrequire \"scalar-sdk\"\n\nclient = ScalarApi::Client.new(\n  bearer_auth: ENV[\"BEARER_AUTH\"],\n)\n\nresponse = client.registry.update_api_document_version(\"smoke-test\", { document: \"\", namespace: \"namespace\", slug: \"slug\", last_known_version_sha: \"\" })\n\nputs response.inspect"
          },
          {
            "lang": "rust",
            "label": "Rust",
            "source": "use scalar_rs::*;\n\n#[tokio::main]\nasync fn main() -> Result<(), Box<dyn std::error::Error>> {\n    let client = Scalar::builder()\n        .bearer_token(std::env::var(\"SCALAR_BEARER_TOKEN\")?)\n        .build()?;\n\n    let response = client\n        .registry()\n        .update_api_document_version(\n            \"example\",\n            \"example\",\n            \"example\",\n            RegistryUpdateApiDocumentVersionBody {\n                document: \"\".to_string(),\n                last_known_version_sha: None,\n            },\n        )\n        .send()\n        .await?;\n\n    println!(\"{:?}\", response);\n\n    Ok(())\n}"
          }
        ]
      },
      "delete": {
        "tags": [
          "Registry"
        ],
        "description": "Delete a specific API document version.",
        "summary": "Delete API Document version",
        "operationId": "deleteApiDocumentVersion",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "namespace",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "slug",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "semver",
            "required": true
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Scalar from '@scalar/sdk';\n\nconst client = new Scalar({\n  bearerAuth: process.env['BEARER_AUTH'], // defaults to the BEARER_AUTH env var\n});\n\nawait client.registry.deleteAPIDocumentVersion('semver', {\n  namespace: 'namespace',\n  slug: 'slug',\n});"
          },
          {
            "lang": "Shell",
            "label": "CLI",
            "source": "scalarapi registry delete-api-document-version 'semver' --bearer-auth \"$BEARER_AUTH\" --namespace 'namespace' --slug 'slug'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom scalar_sdk import Scalar\n\nclient = Scalar(\n    bearer_auth=os.environ.get(\"BEARER_AUTH\"),\n)\n\nregistry = client.registry.delete_api_document_version(\n    namespace=\"namespace\",\n    slug=\"slug\",\n    semver=\"semver\",\n)\n\nprint(registry)"
          },
          {
            "lang": "Go",
            "label": "Go",
            "source": "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\t\"os\"\n\n\tsdk \"scalar-go\"\n\t\"scalar-go/option\"\n)\n\nfunc main() {\n\tclient := sdk.NewClient(\n\t\toption.WithBearerAuth(os.Getenv(\"BEARER_AUTH\")),\n\t)\n\n\tregistry, err := client.Registry.DeleteAPIDocumentVersion(context.Background(), \"namespace\", \"slug\", \"semver\")\n\tif err != nil {\n\t\tpanic(err)\n\t}\n\n\tfmt.Println(registry)\n}"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "import com.scalar.api.client.ScalarClient;\nimport com.scalar.api.client.okhttp.ScalarOkHttpClient;\nimport com.scalar.api.models.registry.RegistryDeleteApiDocumentVersionParams;\n\nScalarClient client = ScalarOkHttpClient.builder()\n    .bearerAuth(System.getenv(\"BEARER_AUTH\"))\n    .build();\n\nRegistryDeleteApiDocumentVersionParams params = RegistryDeleteApiDocumentVersionParams.builder()\n    .namespace(\"namespace\")\n    .slug(\"slug\")\n    .semver(\"semver\")\n    .build();\nvar registry = client.registry().deleteApiDocumentVersion(params);\n\nSystem.out.println(registry);"
          },
          {
            "lang": "Kotlin",
            "label": "Kotlin",
            "source": "import com.scalar.api.client.ScalarClient\nimport com.scalar.api.client.okhttp.ScalarOkHttpClient\nimport com.scalar.api.models.registry.RegistryDeleteApiDocumentVersionParams\n\nval client: ScalarClient = ScalarOkHttpClient.builder()\n    .bearerAuth(System.getenv(\"BEARER_AUTH\"))\n    .build()\n\nval params = RegistryDeleteApiDocumentVersionParams.builder()\n    .namespace(\"namespace\")\n    .slug(\"slug\")\n    .semver(\"semver\")\n    .build()\nval registry = client.registry().deleteApiDocumentVersion(params)\n\nprintln(registry)"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "require \"json\"\nrequire \"scalar-sdk\"\n\nclient = ScalarApi::Client.new(\n  bearer_auth: ENV[\"BEARER_AUTH\"],\n)\n\nresponse = client.registry.delete_api_document_version(\"smoke-test\", { namespace: \"namespace\", slug: \"slug\" })\n\nputs response.inspect"
          },
          {
            "lang": "rust",
            "label": "Rust",
            "source": "use scalar_rs::*;\n\n#[tokio::main]\nasync fn main() -> Result<(), Box<dyn std::error::Error>> {\n    let client = Scalar::builder()\n        .bearer_token(std::env::var(\"SCALAR_BEARER_TOKEN\")?)\n        .build()?;\n\n    let response = client\n        .registry()\n        .delete_api_document_version(\"example\", \"example\", \"example\")\n        .send()\n        .await?;\n\n    println!(\"{:?}\", response);\n\n    Ok(())\n}"
          }
        ]
      }
    },
    "/v1/apis/{namespace}/{slug}/version/{semver}/metadata": {
      "get": {
        "tags": [
          "Registry"
        ],
        "description": "Get metadata (uid, content shas, version sha, tags) for a specific API document version.",
        "summary": "Get API Document version metadata",
        "operationId": "getApiDocumentVersionMetadata",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/managed-doc-version"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "namespace",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "slug",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "semver",
            "required": true
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Scalar from '@scalar/sdk';\n\nconst client = new Scalar({\n  bearerAuth: process.env['BEARER_AUTH'], // defaults to the BEARER_AUTH env var\n});\n\nconst listAPIDocumentVersionMetadata = await client.registry.listAPIDocumentVersionMetadata('semver', {\n  namespace: 'namespace',\n  slug: 'slug',\n});\n\nconsole.log(listAPIDocumentVersionMetadata);"
          },
          {
            "lang": "Shell",
            "label": "CLI",
            "source": "scalarapi registry list-api-document-version-metadata 'semver' --bearer-auth \"$BEARER_AUTH\" --namespace 'namespace' --slug 'slug'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom scalar_sdk import Scalar\n\nclient = Scalar(\n    bearer_auth=os.environ.get(\"BEARER_AUTH\"),\n)\n\nregistry = client.registry.list_api_document_version_metadata(\n    namespace=\"namespace\",\n    slug=\"slug\",\n    semver=\"semver\",\n)\n\nprint(registry)"
          },
          {
            "lang": "Go",
            "label": "Go",
            "source": "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\t\"os\"\n\n\tsdk \"scalar-go\"\n\t\"scalar-go/option\"\n)\n\nfunc main() {\n\tclient := sdk.NewClient(\n\t\toption.WithBearerAuth(os.Getenv(\"BEARER_AUTH\")),\n\t)\n\n\tregistry, err := client.Registry.ListAPIDocumentVersionMetadata(context.Background(), \"namespace\", \"slug\", \"semver\")\n\tif err != nil {\n\t\tpanic(err)\n\t}\n\n\tfmt.Println(registry)\n}"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "import com.scalar.api.client.ScalarClient;\nimport com.scalar.api.client.okhttp.ScalarOkHttpClient;\nimport com.scalar.api.models.registry.RegistryListApiDocumentVersionMetadataParams;\n\nScalarClient client = ScalarOkHttpClient.builder()\n    .bearerAuth(System.getenv(\"BEARER_AUTH\"))\n    .build();\n\nRegistryListApiDocumentVersionMetadataParams params = RegistryListApiDocumentVersionMetadataParams.builder()\n    .namespace(\"namespace\")\n    .slug(\"slug\")\n    .semver(\"semver\")\n    .build();\nvar registry = client.registry().listApiDocumentVersionMetadata(params);\n\nSystem.out.println(registry);"
          },
          {
            "lang": "Kotlin",
            "label": "Kotlin",
            "source": "import com.scalar.api.client.ScalarClient\nimport com.scalar.api.client.okhttp.ScalarOkHttpClient\nimport com.scalar.api.models.registry.RegistryListApiDocumentVersionMetadataParams\n\nval client: ScalarClient = ScalarOkHttpClient.builder()\n    .bearerAuth(System.getenv(\"BEARER_AUTH\"))\n    .build()\n\nval params = RegistryListApiDocumentVersionMetadataParams.builder()\n    .namespace(\"namespace\")\n    .slug(\"slug\")\n    .semver(\"semver\")\n    .build()\nval registry = client.registry().listApiDocumentVersionMetadata(params)\n\nprintln(registry)"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "require \"json\"\nrequire \"scalar-sdk\"\n\nclient = ScalarApi::Client.new(\n  bearer_auth: ENV[\"BEARER_AUTH\"],\n)\n\nresponse = client.registry.list_api_document_version_metadata(\"smoke-test\", { namespace: \"namespace\", slug: \"slug\" })\n\nputs response.inspect"
          },
          {
            "lang": "rust",
            "label": "Rust",
            "source": "use scalar_rs::*;\n\n#[tokio::main]\nasync fn main() -> Result<(), Box<dyn std::error::Error>> {\n    let client = Scalar::builder()\n        .bearer_token(std::env::var(\"SCALAR_BEARER_TOKEN\")?)\n        .build()?;\n\n    let response = client\n        .registry()\n        .list_api_document_version_metadata(\"example\", \"example\", \"example\")\n        .send()\n        .await?;\n\n    println!(\"{:?}\", response);\n\n    Ok(())\n}"
          }
        ]
      }
    },
    "/v1/apis/{namespace}/{slug}/version": {
      "post": {
        "tags": [
          "Registry"
        ],
        "description": "Create a new API document version.",
        "summary": "Create API Document version",
        "operationId": "createApiDocumentVersion",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/managed-doc-version"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "version": {
                    "$ref": "#/components/schemas/version"
                  },
                  "document": {
                    "type": "string"
                  },
                  "force": {
                    "type": "boolean"
                  },
                  "lastKnownVersionSha": {
                    "type": "string"
                  }
                },
                "required": [
                  "version",
                  "document"
                ],
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "namespace",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "slug",
            "required": true
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Scalar from '@scalar/sdk';\n\nconst client = new Scalar({\n  bearerAuth: process.env['BEARER_AUTH'], // defaults to the BEARER_AUTH env var\n});\n\nconst createAPIDocumentVersion = await client.registry.createAPIDocumentVersion('slug', {\n  namespace: 'namespace',\n  version: 'x',\n  document: '',\n});\n\nconsole.log(createAPIDocumentVersion);"
          },
          {
            "lang": "Shell",
            "label": "CLI",
            "source": "scalarapi registry create-api-document-version 'slug' --bearer-auth \"$BEARER_AUTH\" --namespace 'namespace' --version-command 'version' --document 'document'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom scalar_sdk import Scalar\n\nclient = Scalar(\n    bearer_auth=os.environ.get(\"BEARER_AUTH\"),\n)\n\nregistry = client.registry.create_api_document_version(\n    namespace=\"namespace\",\n    slug=\"slug\",\n    version=\"x\",\n    document=\"\",\n)\n\nprint(registry)"
          },
          {
            "lang": "Go",
            "label": "Go",
            "source": "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\t\"os\"\n\n\tsdk \"scalar-go\"\n\t\"scalar-go/option\"\n)\n\nfunc main() {\n\tclient := sdk.NewClient(\n\t\toption.WithBearerAuth(os.Getenv(\"BEARER_AUTH\")),\n\t)\n\n\tregistry, err := client.Registry.NewAPIDocumentVersion(context.Background(), \"namespace\", \"slug\", sdk.RegistryNewAPIDocumentVersionParams{\n\t\tDocument: sdk.F[string](\"\"),\n\t\tVersion:  sdk.F[string](\"x\"),\n\t})\n\tif err != nil {\n\t\tpanic(err)\n\t}\n\n\tfmt.Println(registry)\n}"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "import com.scalar.api.client.ScalarClient;\nimport com.scalar.api.client.okhttp.ScalarOkHttpClient;\nimport com.scalar.api.models.registry.RegistryCreateApiDocumentVersionParams;\n\nScalarClient client = ScalarOkHttpClient.builder()\n    .bearerAuth(System.getenv(\"BEARER_AUTH\"))\n    .build();\n\nRegistryCreateApiDocumentVersionParams params = RegistryCreateApiDocumentVersionParams.builder()\n    .namespace(\"namespace\")\n    .slug(\"slug\")\n    .version(\"version\")\n    .document(\"document\")\n    .build();\nvar registry = client.registry().createApiDocumentVersion(params);\n\nSystem.out.println(registry);"
          },
          {
            "lang": "Kotlin",
            "label": "Kotlin",
            "source": "import com.scalar.api.client.ScalarClient\nimport com.scalar.api.client.okhttp.ScalarOkHttpClient\nimport com.scalar.api.models.registry.RegistryCreateApiDocumentVersionParams\n\nval client: ScalarClient = ScalarOkHttpClient.builder()\n    .bearerAuth(System.getenv(\"BEARER_AUTH\"))\n    .build()\n\nval params = RegistryCreateApiDocumentVersionParams.builder()\n    .namespace(\"namespace\")\n    .slug(\"slug\")\n    .version(\"version\")\n    .document(\"document\")\n    .build()\nval registry = client.registry().createApiDocumentVersion(params)\n\nprintln(registry)"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
            "source": "require \"json\"\nrequire \"scalar-sdk\"\n\nclient = ScalarApi::Client.new(\n  bearer_auth: ENV[\"BEARER_AUTH\"],\n)\n\nresponse = client.registry.create_api_document_version(\"smoke-test\", { document: \"\", namespace: \"namespace\", version: \"x\", force: false, last_known_version_sha: \"\" })\n\nputs response.inspect"
          },
          {
            "lang": "rust",
            "label": "Rust",
            "source": "use scalar_rs::*;\n\n#[tokio::main]\nasync fn main() -> Result<(), Box<dyn std::error::Error>> {\n    let client = Scalar::builder()\n        .bearer_token(std::env::var(\"SCALAR_BEARER_TOKEN\")?)\n        .build()?;\n\n    let response = client\n        .registry()\n        .create_api_document_version(\n            \"example\",\n            \"example\",\n            RegistryCreateApiDocumentVersionBody {\n                version: \"x\".to_string(),\n                document: \"\".to_string(),\n                force: None,\n                last_known_version_sha: None,\n            },\n        )\n        .send()\n        .await?;\n\n    println!(\"{:?}\", response);\n\n    Ok(())\n}"
          }
        ]
      }
    },
    "/v1/apis/{namespace}/{slug}/access-group": {
      "post": {
        "tags": [
          "Registry"
        ],
        "description": "Add an access group to an API document.",
        "summary": "Add access group",
        "operationId": "addApiDocumentAccessGroup",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/access-group"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "namespace",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "slug",
            "required": true
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Scalar from '@scalar/sdk';\n\nconst client = new Scalar({\n  bearerAuth: process.env['BEARER_AUTH'], // defaults to the BEARER_AUTH env var\n});\n\nawait client.registry.createAPIDocumentAccessGroup('slug', {\n  namespace: 'namespace',\n  accessGroupSlug: 'xxx',\n});"
          },
          {
            "lang": "Shell",
            "label": "CLI",
            "source": "scalarapi registry create-api-document-access-group 'slug' --bearer-auth \"$BEARER_AUTH\" --namespace 'namespace' --access-group-slug 'accessGroupSlug'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom scalar_sdk import Scalar\n\nclient = Scalar(\n    bearer_auth=os.environ.get(\"BEARER_AUTH\"),\n)\n\nregistry = client.registry.create_api_document_access_group(\n    namespace=\"namespace\",\n    slug=\"slug\",\n    access_group_slug=\"xxx\",\n)\n\nprint(registry)"
          },
          {
            "lang": "Go",
            "label": "Go",
            "source": "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\t\"os\"\n\n\tsdk \"scalar-go\"\n\t\"scalar-go/option\"\n)\n\nfunc main() {\n\tclient := sdk.NewClient(\n\t\toption.WithBearerAuth(os.Getenv(\"BEARER_AUTH\")),\n\t)\n\n\tregistry, err := client.Registry.NewAPIDocumentAccessGroup(context.Background(), \"namespace\", \"slug\", sdk.RegistryNewAPIDocumentAccessGroupParams{\n\t\tAccessGroup: sdk.AccessGroupParam{\n\t\t\tAccessGroupSlug: sdk.F[string](\"xxx\"),\n\t\t},\n\t})\n\tif err != nil {\n\t\tpanic(err)\n\t}\n\n\tfmt.Println(registry)\n}"
          },
          {
            "lang": "Java",
            "label": "Java",
            "source": "import com.scalar.api.client.ScalarClient;\nimport com.scalar.api.client.okhttp.ScalarOkHttpClient;\nimport com.scalar.api.models.registry.RegistryCreateApiDocumentAccessGroupParams;\nimport com.scalar.api.models.registry.AccessGroup;\n\nScalarClient client = ScalarOkHttpClient.builder()\n    .bearerAuth(System.getenv(\"BEARER_AUTH\"))\n    .build();\n\nRegistryCreateApiDocumentAccessGroupParams params = RegistryCreateApiDocumentAccessGroupParams.builder()\n    .namespace(\"namespace\")\n    .slug(\"slug\")\n    .accessGroup(AccessGroup.builder()\n    .accessGroupSlug(\"xxx\")\n    .build())\n    .build();\nvar registry = client.registry().createApiDocumentAccessGroup(params);\n\nSystem.out.println(registry);"
          },
          {
            "lang": "Kotlin",
            "label": "Kotlin",
            "source": "import com.scalar.api.client.ScalarClient\nimport com.scalar.api.client.okhttp.ScalarOkHttpClient\nimport com.scalar.api.models.registry.RegistryCreateApiDocumentAccessGroupParams\nimport com.scalar.api.models.registry.AccessGroup\n\nval client: ScalarClient = ScalarOkHttpClient.builder()\n    .bearerAuth(System.getenv(\"BEARER_AUTH\"))\n    .build()\n\nval params = RegistryCreateApiDocumentAccessGroupParams.builder()\n    .namespace(\"namespace\")\n    .slug(\"slug\")\n    .accessGroup(AccessGroup.builder()\n    .accessGroupSlug(\"xxx\")\n    .build())\n    .build()\nval registry = client.registry().createApiDocumentAccessGroup(params)\n\nprintln(registry)"
          },
          {
            "lang": "Ruby",
            "label": "Ruby",
[...]
